html {
  scroll-behavior: smooth;
}

/*** SKIPLINKS ***/
.skiplink {
  position: absolute;
  left: -9999999rem;
}
.skiplink:focus {
  z-index: 100;
  position: absolute;
  left: 1rem;
  top: 1rem;
}

/*** HEADER ***/
.header {
  padding-top: 7rem;
  text-align: center;
}
.header h1 {
  color: var(--ske-main-color);
}
.header .subtitle {
  font-size: 1.3rem;
  margin-bottom: 0;
}
.header .download-btn {
  margin: 2rem 0;
}

/*** CONTAINERS ***/
.docs-section {
  margin-top: 4rem;
  display: block;
}
.docs-section > h2:first-of-type {
  border-bottom: 1px solid;
  padding-bottom: 0.4rem;
}

/*** GRILLE ***/
.grid-sample .col,
.grid-sample .col-2,
.grid-sample .col-3,
.grid-sample .col-4,
.grid-sample .col-5,
.grid-sample .col-6,
.grid-sample .col-7,
.grid-sample .col-8,
.grid-sample .col-9,
.grid-sample .col-10 {
  background: var(--ske-dark-bg);
  border: 1px solid var(--ske-border-color);
  color: var(--ske-light-txt);
  padding: 0.5rem 1rem;
  text-align: center;
}
.grid-sample p {
  margin-bottom: 0;
}
.grid-sample .row {
  margin: 1rem 0;
  padding: 0.4rem;
  border: 1px solid var(--ske-border-color);
  background: var(--ske-light-bg);
}
.grid-sample .box .row {
  margin-bottom: 0;
}
.grid-sample .box {
  border: 1px solid var(--ske-border-color);
  background: var(--ske-light-bg);
}
.grid-sample .height-box {
  height: 5rem;
}

.code-example {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.navbar {
  display: none;
}

.query-list {
  column-count: 2;
}

.top-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  margin-bottom: 0;
}

body {
  font-size: 0.9rem;
}

/* Larger than desktop */
@media (min-width: 992px) {
  body {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0;
  }

  .navbar {
    display: block;
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    background: white;
    left: 0;
    box-shadow: 0 2px 5px 0px var(--ske-border-color);
    border-bottom: 1px solid var(--ske-border-color);
  }

  .navbar-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
  }

  .navbar-item {
    margin-bottom: 0;
  }

  .navbar-link {
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: var(--ske-dark-txt);
    font-weight: bold;
  }

  .navbar-link:focus,
  .navbar-link:hover {
    text-decoration: underline;
  }

  .small-screen-table-data {
    display: none;
  }

  table.responsive-table {
    display: table;
  }
}

/* Larger than desktop HD */
@media (min-width: 1200px) {
  .navbar-link {
    font-size: 0.8rem;
  }
}

/* Tablet maximum */
@media only screen and (max-width: 991px) {
  .small-screen-table-data dl {
    display: flex;
    flex-wrap: wrap;
  }

  .small-screen-table-data dt {
    flex-basis: 40%;
  }

  .small-screen-table-data dd {
    flex-basis: 60%;
    margin: 0;
  }

  .small-screen-table-data dt,
  .small-screen-table-data dd {
    padding: 0.5rem;
    border-bottom: 1px solid var(--ske-border-color);
  }

  table.responsive-table {
    display: none;
  }
}

/*** Rubrique couleurs ***/
.table-colors {
  th:first-of-type {
    width: 1rem;
  }

  tr td:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swatch {
    border-radius: 0.25em;
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid var(--ske-border-color);
    display: inline-block;
  }
}
