html {
    scroll-behavior: smooth;
}

.skiplink {
    position: absolute;
    left: -9999999rem;
}

.skiplink:focus {
    z-index: 100;
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.header {
    margin-top: 7rem;
    text-align: center;
}

.header h1 {
    color: var(--ske-main-color);
}

.header .subtitle {
    font-size: 1.5rem;
    color: var(--ske-dark-txt);
    margin-bottom: 0;
}

.header .download-btn {
    margin: 2rem 0;
}

.grid-sample .block {
    background: var(--ske-dark-bg);
    border: 1px solid var(--ske-border-color);
    color: var(--ske-light-txt);
}

.grid-sample p {
    margin-bottom: 0;
}

.grid-sample .row {
    margin-bottom: 1rem;
}

.grid-sample .box .row {
    margin-bottom: 0;
}

.grid-sample .box {
    border: 1px solid var(--ske-border-color);
    background: var(--ske-light-bg);
}

.grid-sample .height-box {
    height: 5rem;
}


.docs-header {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    font-weight: 600;
}

.docs-subheader {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.docs-section {
    border-top: 1px solid var(--ske-border-color);
    padding: 3rem 0;
}

.docs-subsection {
    margin-bottom: 3rem;
}

.code-example {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.navbar {
    display: none;
}

.query-list {
    column-count: 2;
}

.top-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    margin-bottom: 0;
}

body {
    font-size: .9rem;
}

/* Larger than desktop */
@media (min-width: 992px) {

    body {
        font-size: 1rem;
    }

    /* Navbar */
    .navbar+.docs-section {
        border-top-width: 0;
    }

    .navbar {
        display: block;
        width: 100%;
        height: 4rem;
        position: fixed;
        top: 0;
        background: white;
        left: 0;
        box-shadow: 0 2px 5px 0px var(--ske-border-color);
        border-top: 1px solid var(--ske-border-color);
        border-bottom: 1px solid var(--ske-border-color);
    }

    .navbar-list {
        list-style: none;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .navbar-item {
        position: relative;
        float: left;
        margin-bottom: 0;
    }

    .navbar-link {
        text-transform: uppercase;
        font-size: .7rem;
        font-weight: 600;
        letter-spacing: .2rem;
        padding: 0 1rem;
        text-decoration: none;
        line-height: 3rem;
        border-bottom: none;
        display: inline-block;
        color: var(--ske-dark-txt);
    }

    .navbar-link:focus,
    .navbar-link:hover {
        background: var(--ske-light-bg);
    }

    .small-screen-table-data {
        display: none;
    }

    table.responsive-table {
        display: table;
    }
}

/* Larger than desktop HD */
@media (min-width: 1200px) {
    .navbar-link {
        font-size: .8rem;
    }
}

/* Tablet maximum */
@media only screen and (max-width: 991px) {

    .small-screen-table-data dl {
        display: flex;
        flex-wrap: wrap;
    }

    .small-screen-table-data dt {
        flex-basis: 40%;
    }

    .small-screen-table-data dd {
        flex-basis: 60%;
        margin: 0;
    }

    .small-screen-table-data dt,
    .small-screen-table-data dd {
        padding: .5rem;
        border-bottom: 1px solid var(--ske-border-color);
    }

    table.responsive-table {
        display: none;
    }
}