/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Colors
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
*/

*,
::after,
::before {
    box-sizing: border-box;
}

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– 
- Ratio contrast between --ske-dark-txt and --ske-light-bg must be 4.5
- Ratio contrast between --ske-light-txt and --ske-dark-bg must be 4.5
- Ratio contrast between --ske-main-color and --ske-light-txt must be 4.5
*/
:root {
    --ske-border-color: #cccccc;

    --ske-dark-txt: #222;
    --ske-light-bg: #f1f1f1;

    --ske-light-txt: white;
    --ske-dark-bg: #343a40;

    --ske-main-color: #006064;

    --ske-alert-bg: #fff6f6;
    --ske-alert-txt: #a00d10;
    --ske-success-bg: #EFF7EC;
    --ske-success-txt: #275C28;
    --ske-warning-bg: #FDFBEE;
    --ske-warning-txt: #654F29;
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
    font-size: 100%;
}

body {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--ske-dark-txt);
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 300;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
}

h2 {
    font-size: 1.8rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.3;
    letter-spacing: -.1rem;
}

h4 {
    font-size: 1.2rem;
    line-height: 1.35;
    letter-spacing: -.08rem;
}

h5 {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
}

h6 {
    font-size: .8rem;
    line-height: 1.6;
    letter-spacing: 0;
}

p {
    margin-top: 0;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: var(--ske-main-color);
}

a:hover {
    color: var(--ske-dark-txt);
    background-color: var(--ske-light-bg);
}

a:focus {
    color: var(--ske-dark-txt);
}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    padding: 0 30px;
    color: var(--ske-main-color);
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: white;
    border-radius: 4px;
    border: 1px solid var(--ske-main-color);
    cursor: pointer;
}

.button:hover,
a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
a.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: var(--ske-dark-txt);
    border-color: var(--ske-dark-txt);
    background: white;
}


.button.button-primary,
a.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: var(--ske-light-txt);
    background-color: var(--ske-main-color);
    border-color: var(--ske-main-color);
}

.button.button-primary:hover,
a.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
    background-color: var(--ske-dark-txt);
    border-color: var(--ske-dark-txt);
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    height: 38px;
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    border: 1px solid var(--ske-border-color);
    border-radius: 4px;
    box-shadow: none;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

fieldset {
    padding: 0;
    border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

label>.label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
    list-style: circle inside;
}

ol {
    list-style: decimal inside;
}

ol,
ul {
    padding-left: 0;
    margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}

li {
    margin-bottom: 1rem;
}

dl {
  display: flex;
  flex-flow: row wrap;
}
dt {
  flex-basis: 20%;
  padding: 2px 4px;
  text-align: right;
  font-weight: bold;
}
dd {
  flex-basis: 70%;
  flex-grow: 1;
  margin: 0;
  padding: 2px 4px;
}

/* Alerts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.error {
  background: var(--ske-alert-bg);
  padding: 1rem;
  border: 1px solid var(--ske-alert-txt);
  color: var(--ske-alert-txt);
}

.success {
  background: var(--ske-success-bg);
  padding: 1rem;
  border: 1px solid var(--ske-success-txt);
  color: var(--ske-success-txt);
}

.warning {
  background: var(--ske-warning-bg);
  padding: 1rem;
  border: 1px solid var(--ske-warning-txt);
  color: var(--ske-warning-txt);
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    color: var(--ske-dark-txt);
    background: var(--ske-light-bg);
    border: 1px solid var(--ske-border-color);
    border-radius: 4px;
}

pre>code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
    overflow: auto;
    color: var(--ske-light-txt);
    background: var(--ske-dark-bg);
}


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
    border-collapse: collapse;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--ske-border-color);
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
    margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset,
p {
    margin-bottom: 1rem;
}

pre,
blockquote,
dl,
figure,
table,
ul,
ol,
form {
    margin-bottom: 1.5rem;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.full-width {
    width: 100%;
}

.max-full-width {
    max-width: 100%;
}

.margin-top {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.no-padding {
    padding: 0;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.hidden {
    display: none;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid var(--ske-border-color);
}