/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Colors
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
*/

/* Grid (Flexbox)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container-fluid,
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem
}

/* webapp specific code ID */
.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.column, .columns
.one.column, .one.columns
.ten.columns,
.eleven.columns,
.twelve.columns,
.two.columns,
.three.columns,
.four.columns,
.five.columns,
.six.columns,
.seven.columns,
.eight.columns,
.nine.columns {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.column, .columns {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%
}

.one.column, .one.columns {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%
}

.two.columns {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%
}

.three.columns {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%
}

/* webapp specific code ID */
.four.columns, #extras-form {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%
}

.five.columns {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%
}

.six.columns {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%
}

.seven.columns {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%
}

/* webapp specific code ID */
.eight.columns, #col-1 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%
}

.nine.columns {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%
}

.ten.columns {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%
}

.eleven.columns {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%
}

.twelve.columns {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
}

.row-start {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start
}

.row-center {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center
}

.row-end {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end
}

.row-top {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start
}

.row-middle {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center
}

.row-bottom {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end
}

.row-around {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.row-between {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between
}

/* Small devices (landscape phones) */
@media only screen and (min-width: 576px) {
    .container {
        width: 540px
    }

    /* webapp specific code ID */
    .six.columns, #col-1, #extras-form {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 768px) {
    .container {
        width: 720px
    }

    /* webapp specific code ID */
    .six.columns, #col-1, #extras-form {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }
}

/* Large devices (desktops) */
@media only screen and (min-width: 992px) {
    .container {
        width: 960px;
    }

    /* webapp specific code ID */
       #extras-form {
        -ms-flex-preferred-size: 41.667%;
        flex-basis: 41.667%;
        max-width: 41.667%
    }

    /* webapp specific code ID */
    #col-1 {
        -ms-flex-preferred-size: 58.333%;
        flex-basis: 58.333%;
        max-width: 58.333%
    }
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– 
- Ratio contrast between --ske-dark-txt and --ske-light-bg must be 4.5
- Ratio contrast between --ske-light-txt and --ske-dark-bg must be 4.5
- Ratio contrast between --ske-main-color and --ske-light-txt must be 4.5
*/
:root {
  --ske-border-color: #cccccc;
  --ske-border-radius: 4px;

  --ske-dark-txt: #404654;
  --ske-light-bg: #f1f1f1;

  --ske-light-txt: white;
  --ske-dark-bg: #343a40;

  --ske-main-color: hsl(182, 100%, 20%);
  --ske-main-color-darker: hsl(182, 100%, 15%);

  --ske-alert-bg: #fdf6fb;
  --ske-alert-txt: #a0006b;
  --ske-success-bg: #eff7ec;
  --ske-success-txt: #275c28;
  --ske-warning-bg: #fdfbee;
  --ske-warning-txt: #654f29;
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 112.5%;
}

body {
  font: var(--ske-regular-medium);
  color: var(--ske-dark-txt);
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– 
- permitted font values assuming html size is 112.5%
*/
:root {
  --ske-regular-caption: 400 x-small/1.425 "Circular Std",Arial,sans-serif; /* 75% = 13.5px = 10pt */
  --ske-bold-caption: 700 x-small/1.425 "Circular Std",Arial,sans-serif;
  --ske-regular-small: 400 small/1.425 "Circular Std",Arial,sans-serif; /* 89% = 16px = 12pt */
  --ske-bold-small: 700 small/1.425 "Circular Std",Arial,sans-serif;
  --ske-regular-medium: 400 medium/1.425 "Circular Std",Arial,sans-serif; /* 100% = 18px = 14pt */
  --ske-bold-medium: 700 medium/1.425 "Circular Std",Arial,sans-serif;
  --ske-regular-large: 400 large/1.425 "Circular Std",Arial,sans-serif; /* 120% = 21.5px = 17pt */
  --ske-bold-large: 700 large/1.425 "Circular Std",Arial,sans-serif;
  --ske-subhead-small: 400 medium/1.425 "Greed Narrow",Arial,sans-serif;
  --ske-subhead-medium: 400 large/1.425 "Greed Narrow",Arial,sans-serif;
  --ske-subhead-large: 400 x-large/1.25 "Greed Narrow",Arial,sans-serif; /* 150% = 27px = 21pt */
  --ske-heading-small: 700 large/1.425 "Greed Narrow",Arial,sans-serif;
  --ske-heading-medium: 700 x-large/1.25 "Greed Narrow",Arial,sans-serif;
  --ske-heading-large: 700 xx-large/1.25 "Greed Narrow",Arial,sans-serif; /* 200% = 36px = 28pt */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  font: var(--ske-heading-large);
}

h2 {
  font: var(--ske-heading-medium);
}

h3 {
  font: var(--ske-subhead-large);
}

h4 {
  font: var(--ske-subhead-medium);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: var(--ske-main-color);
  text-decoration: underline;
  transition: text-decoration-color 0.2s ease;
}

a:hover,
a:focus {
  text-decoration-color: transparent;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 0 1.875rem;
  color: var(--ske-main-color);
  text-align: center;
  font-size: 0.89rem;
  line-height: 2.8;
  letter-spacing: 0.1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: white;
  border-radius: var(--ske-border-radius);
  border: 1px solid var(--ske-main-color);
  cursor: pointer;

  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.button:hover,
a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
a.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: var(--ske-light-txt);
  background-color: var(--ske-main-color);
  border-color: var(--ske-main-color);
}

.button.button-primary,
a.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: var(--ske-light-txt);
  background-color: var(--ske-main-color);
  border-color: var(--ske-main-color);
}

.button.button-primary:hover,
a.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  background-color: var(--ske-main-color-darker);
  border-color: var(--ske-main-color-darker);
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/***** Champs standards *****/
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 2.375rem;
  padding: 0.375rem 0.625rem;
  border: 1px solid var(--ske-border-color);
  border-radius: var(--ske-border-radius);
  font-size: 0.89rem;
  width: 33%;
}

textarea {
  width:100%;
}

input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="search"]:disabled,
input[type="text"]:disabled,
input[type="tel"]:disabled,
input[type="url"]:disabled,
input[type="password"]:disabled,
textarea:disabled,
select:disabled,
input[type="email"]:read-only,
input[type="number"]:read-only,
input[type="search"]:read-only,
input[type="text"]:read-only,
input[type="tel"]:read-only,
input[type="url"]:read-only,
input[type="password"]:read-only,
textarea:read-only {
  background-color: var(--ske-light-bg);
  cursor: not-allowed;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:invalid,
select:invalid,
textarea:invalid,
input[aria-invalid="true"],
select[aria-invalid="true"],
textarea[aria-invalid="true"] {
  border-color: var(--ske-alert-txt);
}

textarea {
  min-height: 4.75rem; /* 2 fois la hauteur d'input */
}

/***** Labels & legends *****/
label,
legend {
  font-weight: 700;
  font-size: 0.89rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

legend {
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

/***** Radios & checkboxes *****/
input[type="checkbox"] + label,
input[type="radio"] + label {
  margin-bottom: 0;
  margin-left: 0.5rem;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: var(--ske-main-color);
}

/***** other *****/
.form-descr {
  font-weight: normal;
  font-size: 0.875rem;
}

fieldset {
  border: 1px solid var(--ske-border-color);
  border-radius: var(--ske-border-radius);
  padding: 0rem 1.8rem 1rem;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0.3rem 0 0.3rem 2.5rem;
}

li {
  margin-bottom: 0.2rem;
}

dl {
  display: flex;
  flex-flow: row wrap;
}
dt {
  flex-basis: 20%;
  padding: 0.125rem 0.25rem;
  text-align: right;
  font-weight: bold;
}
dd {
  flex-basis: 70%;
  flex-grow: 1;
  margin: 0;
  padding: 0.125rem 0.25rem;
}

/* Alerts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.error {
  background: var(--ske-alert-bg);
  padding: 1rem;
  border: 1px solid var(--ske-alert-txt);
  color: var(--ske-alert-txt);
}

.success, .result-link {
  background: var(--ske-success-bg);
  padding: 1rem;
  border: 1px solid var(--ske-success-txt);
  color: var(--ske-success-txt);
}

.warning {
  background: var(--ske-warning-bg);
  padding: 1rem;
  border: 1px solid var(--ske-warning-txt);
  color: var(--ske-warning-txt);
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: 0 0.5rem;
  margin: 0 0.2rem;
  font-size: 89%;
  color: var(--ske-dark-txt);
  background: var(--ske-light-bg);
  border: 1px solid var(--ske-border-color);
  border-radius: var(--ske-border-radius);
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
  color: var(--ske-light-txt);
  background: var(--ske-dark-bg);
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  border-collapse: collapse;
}

th,
td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid var(--ske-border-color);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.form-group,
p {
  margin-bottom: 1rem;
}

pre,
blockquote,
dl,
figure,
table,
ul,
ol,
form {
  margin-bottom: 1.5rem;
}

.row .column:first-of-type, .row .columns:first-of-type
.row .one:first-of-type,
.row .ten:first-of-type,
.row .eleven:first-of-type,
.row .twelve:first-of-type,
.row .two:first-of-type,
.row .three:first-of-type,
.row .four:first-of-type,
.row .five:first-of-type,
.row .six:first-of-type,
.row .seven:first-of-type,
.row .eight:first-of-type,
.row .nine:first-of-type {
  padding-left: 0;
}

.row .column:last-of-type, .row .columns:last-of-type
.row .one:last-of-type,
.row .ten:last-of-type,
.row .eleven:last-of-type,
.row .twelve:last-of-type,
.row .two:last-of-type,
.row .three:last-of-type,
.row .four:last-of-type,
.row .five:last-of-type,
.row .six:last-of-type,
.row .seven:last-of-type,
.row .eight:last-of-type,
.row .nine:last-of-type {
  padding-right: 0;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  border-width: 0;
  border-top: 1px solid var(--ske-border-color);
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.full-width {
  width: 100%;
}

.max-full-width {
  max-width: 100%;
}

.no-padding {
  padding: 0;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.m-b-0 {
  margin-bottom: 0;
}
.m-b-1 {
  margin-bottom: 1rem;
}
.m-t-0 {
  margin-top: 0;
}
.m-t-1 {
  margin-top: 1rem;
}

.text-error {
  color: var(--ske-alert-txt);
}
.text-success {
  color: var(--ske-success-txt);
}

.bold {
  font-weight: bolder;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

form#extras-form p:first-child {
  margin-top: 5rem;
}